@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1a1b1e;
  --text-color: #66666e;
  --background-color: #ffffff;
  --font-family: "Inter", sans-serif;
  --transition-speed: 0.3s;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html.custom-scroll,
  html.custom-scroll body {
    scrollbar-width: thin;
    scrollbar-color: #88888880 #f1f1f1;
  }

  html.custom-scroll::-webkit-scrollbar,
  html.custom-scroll body::-webkit-scrollbar {
    width: 9px;
  }

  html.custom-scroll::-webkit-scrollbar-track,
  html.custom-scroll body::-webkit-scrollbar-track {
    background: #e4e4e4;
  }

  html.custom-scroll::-webkit-scrollbar-thumb,
  html.custom-scroll body::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 15px;
  }

  html.custom-scroll::-webkit-scrollbar-thumb:hover,
  html.custom-scroll body::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
  }

  body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
  }

  button {
    font-family: var(--font-family);
  }
}
